*{
    box-sizing: border-box;
}

body {
    background-image: url('../img/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 700px;
    background-color: #ebe8ea;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebe8ea;
    width: 100%;


}

h1 {
    width: 100%;
    font-size: 40px;
    padding-top: 40px;
}

button {
    border-radius: 100%;
    font-size: 30px;
}
.hide {
    display: none;
}

li {
    list-style: none;
    font-size: 24px;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {

    h1 {
        font-size: 72px;
        text-align: center;
    }

}